@charset "utf-8";

body {
  width: 400px;
}
.clearfix::after {
  display:block;
  content: "";
  clear: both;
}
.red-box {
  height: 100px;
  background-color: #ff0000;
}
.green-box {
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}
.content {
  float: left;
}
.content-left {
  float: left;
}
.pink-box {
  width: 150px;
  height: 50px;
  background-color: #cc00db;
}
.skybule-box {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}
.content-right {
  float: right;
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
}

.brown-box {
  height: 100px;
  background-color: #8c2727;
}
.yellow-box {
  height: 100px;
  background-color: #fff700;
}